h1 {
    color: #3498db;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
  }
  
  .box {
    position: relative;
    top: 20px; 
    background-color: #95a5a6;
    width: 300px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
  }
  
  .box:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.6); 
  }
  