

#second{
  height: 150px;
  width: 150px;
  background-color: green;

}

#third{
  height: 100px;
  width: 100px;
  background-color: blue;

}

#first{
  height: 50px;
  width: 50px;
  background-color: red;

}
.square{
  background-color: black;

}
.square{
  background-color: pink;

}
