
#p{
  color :#203345;
  font-size: 70px;
}




.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #ffffff;

  }
  
  .grid-item {
    background-color: #bdc3c7; 
    border: 10px solid #ffffff;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 15px;
  }
  .grid-header {
    background-color: rgb(255, 255, 255);
    padding: 5px;
  }






