.navbar {
  position: fixed; 
  top: 0;
  left: 8px;
  background-color: #3498db;
}

.Navbar__Link-toggle {
  cursor: pointer;
  font-size: 50px;
}

.Navbar__Items {
  flex-direction: column;
  background-color: #9b1e82;
  transition: width 0.5s;
  width: 0;
  left: 0;
  position: absolute;
  top: 80px;
}

.Navbar__Items a {
  color: white;
  padding: 10px 20px; 
  display: block; 
}
a {
  color: white;
}

.Navbar__Items:not(.hidden) {
  width: 100px;
}
