
.head{
  grid-area: h;
  background-color: #a29bfe;
  
}

.side-nav{
  grid-area: s;
  background-color: #c6fe9b;
}

.main{
  grid-area: m;
  background-color: #fe9bf4;
}

.foot{
  grid-area: f;
  background-color: #fe9b9b;
}


.container{
  padding: 10px;
  position: relative;
}



.main{
  position: absolute;
  display: inline-block;
  width: 100%;
}

.inner-content{
  position: absolute;
  top: 70px;
  height: 430px;
  width: 90%;
  background-color:red;
}
#container{
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: 
  "h h h h h h""s s m m m m ""s s m m m m""s s m m m m""s s f f f f";

}

  


